#cabecera {
    margin:0px 0px  10px;
}
.logo {
    width: 300px;
}
.navbar {
    
    background-color: black;
}

#navo {
    color: grey;
}
.navbar-toggler-icon {
    background-color: gray;
    width: 20%;
    height: 20px;
}