.card-title{
    text-decoration: underline;
    color: #ffffff;
}
.trabajos {
    color: #ffffff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.cursos{
    color: #ffffff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.card-body {
    background-color: black;
}   
.card-text {
    color: #FFF;
}
.card-group{
    margin: 10px;
}
.texto-detailing{
    text-align: center;
    color: white;
    text-decoration:underline;
}